:root {
    --color: #243746;
    --color-primary: #158876;
    --color-secondary: #0e2233;
    --source: url("~/assets/svg/nuxt.svg");
    --bg: white;
    --bg-secondary: rgb(147, 137, 137);
    --bg-auxiliary: rgb(92, 169, 155);
    --border-color: #ddd;
    --glow: rgb(78, 39, 235);
    --error-color: rgb(237, 38, 38);
    --success-color: rgb(75, 229, 75);
}

.dark-mode {
    --color: #ebf4f1;
    --color-primary: #41b38a;
    --color-secondary: #fdf9f3;
    --source: url("~/assets/svg/nuxt-white.svg");
    --bg: #091a28;
    --bg-secondary: #0d2133;
    --bg-auxiliary: rgb(51, 98, 89);
    --border-color: #0d2538;
    --glow: greenyellow;
    --error-color: rgb(237, 38, 38);
    --success-color: lightgreen;
}

a {
    color: var(--color-primary);
}

.page-enter-from{
  opacity: 0;
  transform: translateY(-40px);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}