:root {
    --color: #243746;
    --color-primary: #158876;
    --color-secondary: #0e2233;
    --source: url("~/assets/svg/nuxt.svg");
    --slider-1: rgb(35, 145, 108);
    --slider-2: rgba(20, 214, 149, 0.808);
    --slider-3: rgba(40, 202, 148, 0.425);
    --bg: white;
    --bg-secondary: rgb(147, 137, 137);
    --bg-auxiliary: rgb(110, 236, 213);
    --download-hover: rgb(64, 206, 180);
    --button: #FBD87F;
    --button-hover: #d8a931;
    --border-color: #ddd;
    --glow: rgb(78, 39, 235);
    --error-color: rgb(237, 38, 38);
    --success-color: rgb(75, 229, 75);
}

.dark-mode {
    --color: #ebf4f1;
    --color-primary: #41b38a;
    --color-secondary: #fdf9f3;
    --source: url("~/assets/svg/nuxt-white.svg");
    --slider-1: rgb(35, 86, 145);
    --slider-2: rgba(24, 27, 201, 0.801);
    --slider-3: rgba(36, 39, 214, 0.486);
    --bg: #091a28;
    --bg-secondary: #0d2133;
    --bg-auxiliary: rgb(51, 98, 89);
    --download-hover: rgb(29, 83, 73);
    --button: #0C6291;
    --button-hover: #074d74;
    --border-color: #0d2538;
    --glow: greenyellow;
    --error-color: rgb(237, 38, 38);
    --success-color: lightgreen;
}

a {
    color: var(--color-primary);
}

.page-enter-from{
  opacity: 0;
  transform: translateY(-40px);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}