:root {
    --color: #243746;
    --color-primary: #158876;
    --color-secondary: #0e2233;
    --source: url("~/assets/svg/nuxt.svg");
    --bg: white;
    --bg-secondary: gray;
    --border-color: #ddd;
}

.dark-mode {
    --color: #ebf4f1;
    --color-primary: #41b38a;
    --color-secondary: #fdf9f3;
    --source: url("~/assets/svg/nuxt-white.svg");
    --bg: #091a28;
    --bg-secondary: #0d2133;
    --border-color: #0d2538;
}

a {
    color: var(--color-primary);
}